<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- PAGE settings -->
        <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
        <title><?=$title?></title>
        <meta name="description" content="TurkBalasy">
        <meta name="keywords" content="TurkBalasy">
        <meta name="author" content="TurkBalasy">
        <!-- CSS dependencies -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/public/css/wireframe.css">
    </head>

    <body class="text-center bg-success">
        <div class="p-3 h-100 d-flex flex-column">
            <div class="container mb-auto">
                <div class="row">
                    <div class="mx-auto col-md-9">
                        <nav class="navbar navbar-expand-md navbar-dark">
                            <div class="container">
                                <a class="navbar-brand" href="/"><b><?=$title?></b></a>
                                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span> </button>
                                <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="/"><b>Home</b></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><b>Features</b></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/contact"><b>Contact</b></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <?=$content?>
                    </div>
                </div>
            </div>
            <div class="container mt-auto">
                <div class="row">
                    <div class="col-md-12">
                        <p class="mt-auto text-secondary">Cover template for <a href="#" class="text-white">Bootstrap</a>, by <a href="https://github.com/turkprogrammer" class="text-white">@TurkBalasy</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>

</html>