<p class="lead"><?php echo $header;?></p>
<hr/>
<div class="row text-dark" >
        <div class="col-lg-4 p-2">
          <div class="card text-center">
            <div class="card-body p-4">
              <h3>MVC</h3>
              <p class="my-2 lead">Соблюдена полность концепция MVC</p> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-2">
          <div class="card text-center">
            <div class="card-body p-4">
              <h3>ORM</h3>
              <p class="my-2 lead">RedBeanPHP also makes it very easy to work with trees in databases</p>
            </div>
          </div>
        </div>
		 <div class="col-lg-4 col-md-6 p-2">
          <div class="card text-center">
            <div class="card-body p-4">
              <h3>ACL</h3>
              <p class="my-2 lead">Контроль доступа к контроллерам</p>
            </div>
          </div>
        </div>
      
      </div>

